@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>College Basketball Data Driver is for the coach or player that wants to see insights into their strengths and weaknesses. It's also for the comitted fan that wants to use data and statistics to better understand their favorite team.</p>
