@{
    ViewBag.Title = "About College Basketball Data Driver";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>College Basketball Data Driver is for the coach or player that wants to see insights into their strengths and weaknesses. It's also for the comitted fan that wants to use data and statistics to better understand their favorite team.</p>
<p>So often fans enjoy the spectacle and passion of sport, that we may miss the calculated reason why certain things happen during a game. Teams frequently rely on data that's been curated, cleaned up, and analyzed to get them a competitive advantage.</p>
<p>This application provides an opportunity for teams to improve and fans of their favorite team to understand the strengths and weaknesses of their favorite team.</p>