@{
    ViewBag.Title = "How to get in contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p></p>
<address>
    Snail Mail:<br />
    One Indy Way<br />
    Indianapolis, IN 46220<br />
    <abbr title="Phone">P:</abbr>
    317.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:max.vhahn@gmail.com">Support@gmail.com</a><br />
</address>