@model CollegeSportsApp.Models.ConferenceModels.ConferenceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conference Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConferenceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConferenceName)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("WCC", "GetConferenceById", "ConferenceController", new { id = Model.ConferenceId })*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConferenceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
